.facts-background{
    margin-top: 5px;
    background-color: white !important;
}

.each-card{
    margin: auto 10px;
}

h2, h3{
    text-align: center;
    text-decoration: underline;
}

.card-width{
    width: 500px;
}

