.privacy-body{
    margin-top: 5px;
    padding: 10px;
    font-size: 80%;
}

.privacy-body h2{
    margin-bottom: 40px;
}

.privacy-body h4{
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}