.body-size{
    display: flex;
    min-height: calc(100vh - 340px);
    flex-direction: column;
    background-color: #fafafa;
}

.grid{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.each-card{
    margin: auto 10px;
}

.page-title{
    background-color: #fafafa;
    padding-top: 20px;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}

.header-text{
    margin-left: 10px;
}